@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Glitch+Pop&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

li:nth-child(odd) .text{
  @apply bg-primary text-white
}

li:nth-child(even) .text{
  background-color: white;
}

#canvas{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
}


li:first-child{
  transform: rotate(0deg) skewY(-60deg);
}

li:nth-child(2){
  transform: rotate(30deg) skewY(-60deg);
}

li:nth-child(3){
  transform: rotate(60deg) skewY(-60deg);
}

li:nth-child(4){
  transform: rotate(90deg) skewY(-60deg);
}

li:nth-child(5){
  transform: rotate(120deg) skewY(-60deg);
}

li:nth-child(6){
  transform: rotate(150deg) skewY(-60deg);
}

li:nth-child(7){
  transform: rotate(180deg) skewY(-60deg);
}

li:nth-child(8){
  transform: rotate(210deg) skewY(-60deg);
}

li:nth-child(9){
  transform: rotate(240deg) skewY(-60deg);
}

li:nth-child(10){
  transform: rotate(270deg) skewY(-60deg);
}

li:nth-child(11){
  transform: rotate(300deg) skewY(-60deg);
}

li:nth-child(12){
  transform: rotate(330deg) skewY(-60deg);
}

/* li:nth-child(12){
  transform: rotate(360deg) skewY(-60deg);
} */

.circle{
  width: 25em;
  height: 25em;
  border: 1px solid red;
  position: relative;
  padding: 0;
  margin: 2em auto;
  border-radius: 50%;
  list-style-type: none;
  overflow: hidden;
}

li{
  
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0 100%;
}

.text{
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  display: block;
  transform: skewY(60deg) rotate(15deg);
  padding-top: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.arrow{
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 50px solid black;
  position: absolute;
  left: 50%;
  top: -20px;
  z-index: 1;
}
/* .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 30px solid black;
  transform: translateX(-50%);
} */
.start-rotation{
  animation: start-rotate 1s linear infinite;
}

@keyframes start-rotate{
  100%{
    transform: rotate(360deg);
  }
}

.stop-rotation{
  animation-play-state: paused;
}

.dark__bg{
  @apply bg-[rgba(0,0,0,0.8)] absolute top-0 left-0 min-h-[100vh] w-full z-30
  overflow-y-hidden
}

.ex-bg{
  background-color: rgba(255, 255, 255, 0.2);
}

.pulsate {
  animation: pulsate 1s infinite;
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.centered-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer{
  position: relative;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  @apply bg-primary border-8 border-[#82D7A7] shadow-2xl
}

.rubik {
  font-family: "Rubik Glitch Pop", system-ui;
  font-weight: 400;
  font-style: normal;
}


.big-button {
	cursor: pointer;
	position: relative;
	/* padding: 2.5rem 7.5rem; */
  padding: 10px ;
	border-radius: 3.75rem;
	line-height: 2.5rem;
	font-size: 18px;
	font-weight: 600;
	
	border: 1px solid #012880;
	background-image: linear-gradient(-180deg, #2F855A 0%, #82D7A7 100%);
	box-shadow: 0 1rem 1.25rem 0 rgba(22, 195, 22, 0.319),
							0 -0.25rem 1.5rem rgb(34, 198, 20) inset,
							0 0.75rem 0.5rem rgba(18, 106, 10, 0.4) inset,
							0 0.25rem 0.5rem 0 rgb(120, 218, 75) inset;
}

.bg-bg{
  background: url(../public/gm.jpeg)
}

.x1{
  /* z-index: ; */
}

.big-button span {
	color: transparent;
	background-image: linear-gradient(0deg, #82D7A7 0%, #FEFAFD 100%);
	-webkit-background-clip: text;
	background-clip: text;
	filter: drop-shadow(0 2px 2px hsla(290, 100%, 20%, 1));
}

.big-button::before {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	top: 0.5rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	opacity: 0.7;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}

.big-button::after {
	content: "";
	display: block;
	height: 0.25rem;
	position: absolute;
	bottom: 0.75rem;
	left: 50%;
	transform: translateX(-50%);
	width: calc(100% - 7.5rem);
	background: #fff;
	border-radius: 100%;
	
	filter: blur(1px);
	opacity: 0.05;
	background-image: linear-gradient(-270deg, rgba(255,255,255,0.00) 0%, #FFFFFF 20%, #FFFFFF 80%, rgba(255,255,255,0.00) 100%);
}